html {
box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;

font-family: sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

h1 {
	text-align: center;
	font-size: 1.5em;
}

h2, h3, p {
	margin: 1em;
}

h2, h3 {
	text-align: center;
}

ol {
	padding-left: 1em;
	color: #0074d9;
}

li {
	padding-bottom: 1.25em;
}

li a {
	text-decoration: none;
	color: #0074d9;
}

li a:hover {
	background-color: #0074d9;
	color: #fff;
	padding: 0.5em;
	padding-right: 6em;
}

header {
	background-color: #ccc;
	overflow: hidden;
}

dl {
	margin: 1em;
}

dd {
	margin: 0;
	padding-bottom: 1em;
}

.second {
	background-color: #e0e0e0;
	text-align: center;
	padding: 1em;
	margin-top: 0;
	font-weight: normal;
}

.explore {
	background-color: #e0e0e0;
	text-align: center;
	padding: 0.75em;
	margin-top: 0;
}

.list {
	list-style-type: none;
}

.gutter {
	padding-left: 1em;
	padding-right: 1em;
}

.img-flex {
	width: 100%;
	display: block;
}

.venus {
	padding-bottom: 1em;
}

.discovery {
	background-color: #ccc;
}

.disc {
	text-align: left;
}

@media only screen and (min-width: 25em) {

li {
	display: inline-block;
}

.moon {
	text-align: center;
}
}

@media only screen and (min-width: 38em) {

.gutter {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

h1 {
	text-align: left;
}
}
